body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #23272a; /* Dark grey */
    color: #fff; /* White text */
    text-align: center;
    background-image: url('welcome_background.jpg'); /* Replace 'background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
}

.container {
    width: 80%;
    max-width: 800px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

.start-button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #7289da; /* Discord purple */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.start-button:hover {
    background-color: #5865f2; /* Darker Discord purple */
}
